
@mixin mobile-land-styles(){

    #header{
        height:100%;
        width:8%;
        padding:0 1%;
        border-right:3px solid #999999;
        border-bottom:none;
    }
    
    #main-nav{
        margin:0;
    }
    
    #main-nav ul{
        margin:0;
    }
    
    #site-wrapper,
    #site-footer{
        padding-left:10%;
        width:90%;
    }
    
    #main{
        padding-top:5px;
    }

    
    // ACCORDIAN
    #accordian .accordian-slide{
        border-left:3px solid $secondary-color;
    }


    // FORMS
    form input {
        width: 96%;
        padding:2%;
    }

    form input[type='search'] {
        width:95%;
    }

}

@mixin tablet-styles(){
    
    .mobile-nav{
        display:none;
    }
    
    
    #header {
        height:48px;
        width:100%;
        border-right:none;
        border-bottom:3px solid #999999;
    }
    
    #site-wrapper,
    #site-footer{
        padding-left:0%;
        width:100%;
    }
    
    #main-nav{
        z-index: 4;
        //width: 92%;
        //padding: 0 4% 0 4%;
        left: 0;
        height: auto;
        top: 0;
        display:block;
        position:fixed;
    }
    
    #main-nav ul{
        border:none;
    }
    
    #main-nav .center-content{
        margin: 0 auto;
        width: 90%;
        padding: 0 5% 0 5%;
    }
    
    #main-nav ul li{
        width:16%;
    }
    
    #main-nav ul li a{
        text-align:center;
        padding:10px 0;
        width:100%;
    }

    // Generate grid
    @for $i from 1 through $cols {
        $new-width: ($col-width * $i ) + ($gutter-width * ($i - 1));
        .grid-#{$i} {
            width: $new-width;
        }
    }
    .col{
        margin: 0 $gutter-width 0 0;
    }

    .end {
        margin: 0;
    }

 

    #main{
        padding:45px 0 0 0;
    }

    // ACCORDIAN
    #accordian .accordian-slide{
        border-left:7px solid $secondary-color;
    }

    // FORMS
    form input,
    form textarea{
        width: 55%;
        padding:2%;
    }

    form label{
    	width:40%;
    }

    form input[type='search'] {
        width:55%;
    }
    
    form input[type='submit']{
        float:right;
        width:60%;
    }

    progress,
    meter {
      width: 59%;
    }
    
    // NEWS
    
    .news .grid-9 article figure{
        position:absolute;
        right:0;
        top:0;
        width:auto;
    }

    .news .grid-9 article figure img{
        width:auto;
        height:auto;
    }
    
     .news .article-left-wrapper{
        width:45%;
    }
    

}

@mixin desktop-styles(){
    
    #main{
        padding:0;
    }
    
    #header{
        height:53px;
        position:relative;
    }

    
    h1{
        margin:15px 0 0 0;
        line-height:1.0em;
        display:block;
    }

    #gallery-container{
        width:60%;
    }
    
    .grid-9 #gallery-container{
        width:100%;
    }
    
    #main-nav{
        position:relative;
        margin-top:-56px;
        
    }

    #main-nav ul{
        width:auto;
        margin:0;
    }

    #main-nav ul li{
        width:90px;
    }

    #main-nav ul li a {
        padding: 14px 0 14px 0;
        text-align: center;
        margin:0;
        line-height:1.6em;
        width:100%;
    }


    // ACCORIDIAN
    #accordian .accordian-slide{
        border-left:10px solid $secondary-color;
    }

    // FORMS
    form input,
    form textarea{
        width: 57%;
        padding:1%;
    }

    form input[type='search']{
        width:57%;
    }
    
    .news .article-left-wrapper{
        width:65%;
    }
    
}