@import "_mixins.scss";
@import "_global-vars.scss";

.push {
    height: ($footer-height + 20 )+px;
    clear:left;
}

#site-footer{
    border-top:3px solid $secondary-color;
    background-color:$primary-color;
    width:100%;
    padding:20px 0 20px 0;
    float:left;
    height:($footer-height - 43)+px;
}

#site-footer p{
    color:#eee;
}