/* Typography style sheet */

@import "_mixins.scss";
@import "_global-vars.scss";

/* Cusotom font face */
@font-face {
    font-family: "entypo";
    src: url('http://www.garethfuller.com/test/starter-kit/assets/fonts/entypo.eot');
    src: url('http://www.garethfuller.com/test/starter-kit/assets/fonts/entypo.eot?#iefix') format('embedded-opentype'),
    url('http://www.garethfuller.com/test/starter-kit/assets/fonts/entypo.woff') format('woff'),
    url('http://www.garethfuller.com/test/starter-kit/assets/fonts/entypo.ttf') format('truetype'),
    url('http://www.garethfuller.com/test/starter-kit/assets/fonts/entypo.svg#entypo') format('svg');
    font-weight: normal;
    font-style: normal;
}

span.icon{
    font-family: 'entypo';
    line-height: 0;
    vertical-align: -6px;
}


body {
    /* base font size */
    font-size:$base-font+px;
    @include em-line-height($base-font + 3);
    color: #222;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    
}

/* ======== Headings ======= */

h1,h2,h3{
    font-family: 'Raleway', sans-serif;
}

h1 {
    @include em-font(26);
    @include em-line-height(26);
    font-weight: 400;
}

h2 {
    @include em-font(18);
    @include em-line-height(18);
    font-weight: 700;
    margin: 0 0 20px 0;
    display: block;
    float: left;
    width: 100%;
}

h3 {
    @include em-font(16);
    @include em-line-height(16);
    font-weight: 400;
    margin:0;
}



/* ===== Global common elements ======= */

p {
  margin: 0 0 15px 0;
}

ul {
  list-style-type: disc;
  padding: 0 0 0 30px;
  margin: 0 0 15px 0;
}
li {
    margin: 0 0 10px 0;
}

em{
    font-weight:700;
}