/* Styles for the Grid */
#website {
  margin: 0 auto;
  max-width: 940px;
  width: 90%;
  padding: 0 5% 0 5%; }

.col {
  display: block;
  float: left;
  margin: 0 26px 0 0; }

.end {
  margin: 0; }

.row {
  margin: 0 0 20px 0;
  float: left;
  width: 100%; }

.grid-1 {
  width: 54px; }

.grid-2 {
  width: 134px; }

.grid-3 {
  width: 215px; }

.grid-4 {
  width: 295px; }

.grid-5 {
  width: 376px; }

.grid-6 {
  width: 456px; }

.grid-7 {
  width: 537px; }

.grid-8 {
  width: 617px; }

.grid-9 {
  width: 698px; }

.grid-10 {
  width: 778px; }

.grid-11 {
  width: 859px; }

.grid-12 {
  width: 940px; }
