/* IE STYLESHEET */
#header {
  height: 100%;
  width: 8%;
  padding: 0 1%;
  border-right: 3px solid #999999;
  border-bottom: none; }

#main-nav {
  margin: 0; }

.mobile-nav {
  margin: 5px auto;
  display: block;
  float: none;
  text-align: center; }

#main-nav ul {
  margin: 0; }

#site-wrapper,
#site-footer {
  padding-left: 10%;
  width: 90%; }

#main {
  padding-top: 5px; }

#accordian .accordian-slide {
  border-left: 3px solid #999999; }

form input {
  width: 96%;
  padding: 2%; }

form input[type='search'] {
  width: 95%; }

.mobile-nav {
  display: none; }

#header {
  height: 48px;
  width: 100%;
  padding: 0;
  border-right: none;
  border-bottom: 3px solid #999999; }

#site-wrapper,
#site-footer {
  padding-left: 0%;
  width: 100%; }

#main-nav {
  z-index: 4;
  left: 0;
  height: auto;
  top: 0;
  display: block;
  position: fixed; }

#main-nav ul {
  border: none; }

#main-nav .center-content {
  margin: 0 auto;
  width: 90%;
  padding: 0 5% 0 5%; }

#main-nav ul li {
  width: 16%; }

#main-nav ul li a {
  text-align: center;
  padding: 10px 0;
  width: 100%; }

.grid-1 {
  width: 5.78704%; }

.grid-2 {
  width: 14.35185%; }

.grid-3 {
  width: 22.91667%; }

.grid-4 {
  width: 31.48148%; }

.grid-5 {
  width: 40.0463%; }

.grid-6 {
  width: 48.61111%; }

.grid-7 {
  width: 57.17593%; }

.grid-8 {
  width: 65.74074%; }

.grid-9 {
  width: 74.30556%; }

.grid-10 {
  width: 82.87037%; }

.grid-11 {
  width: 91.43519%; }

.grid-12 {
  width: 100.0%; }

.col {
  margin: 0 2.77778% 0 0; }

.end {
  margin: 0; }

#main {
  padding: 45px 0 0 0; }

#accordian .accordian-slide {
  border-left: 7px solid #999999; }

form input,
form textarea {
  width: 55%;
  padding: 2%; }

form label {
  width: 40%; }

form input[type='search'] {
  width: 55%; }

form input[type='submit'] {
  float: right;
  width: 60%; }

progress,
meter {
  width: 59%; }

.news .grid-9 article figure {
  position: absolute;
  right: 0;
  top: 0;
  width: auto; }

.news .grid-9 article figure img {
  width: auto;
  height: auto; }

.news .article-left-wrapper {
  width: 45%; }

#main {
  padding: 0; }

#header {
  height: 53px;
  position: relative; }

h1 {
  margin: 15px 0 0 0;
  line-height: 1.0em;
  display: block; }

#gallery-container {
  width: 60%; }

.grid-9 #gallery-container {
  width: 100%; }

#main-nav {
  position: relative;
  margin-top: -56px; }

#main-nav ul {
  width: auto;
  margin: 0; }

#main-nav ul li {
  width: 90px; }

#main-nav ul li a {
  padding: 14px 0 14px 0;
  text-align: center;
  margin: 0;
  line-height: 1.6em;
  width: 100%; }

#accordian .accordian-slide {
  border-left: 10px solid #999999; }

form input,
form textarea {
  width: 57%;
  padding: 1%; }

form input[type='search'] {
  width: 57%; }

.news .article-left-wrapper {
  width: 65%; }
